[submodule "decompile"]
	path = decompile
	url = git@github.com:Asher-/claude-skill-decompile.git
[submodule "concurrency/macos"]
	path = concurrency/macos
	url = git@github.com:StrongAI/claude-strongai-swift-concurrency.git
[submodule "code"]
	path = code
	url = git@github.com:Asher-/claude-skill-code.git
[submodule "reading"]
	path = reading
	url = git@github.com:Asher-/claude-skills-reading.git
[submodule "memory"]
	path = memory
	url = git@github.com:Asher-/claude-skills-memory.git
