[submodule "brainstorming"]
	path = brainstorming
	url = git@github.com:Asher-/claude-skills-brainstorming.git
[submodule "subagent-driven-development"]
	path = subagent-driven-development
	url = git@github.com:Asher-/claude-skills-subagent-driven-development.git
[submodule "systematic-debugging"]
	path = systematic-debugging
	url = git@github.com:Asher-/claude-skills-systematic-debugging.git
[submodule "test-driven-development"]
	path = test-driven-development
	url = git@github.com:Asher-/claude-skills-test-driven-development.git
[submodule "using-skills"]
	path = using-skills
	url = git@github.com:Asher-/claude-skills-using-skills.git
[submodule "verification-before-completion"]
	path = verification-before-completion
	url = git@github.com:Asher-/claude-skills-verification-before-completion.git
[submodule "writing-plans"]
	path = writing-plans
	url = git@github.com:Asher-/claude-skills-writing-plans.git
[submodule "reading"]
	path = reading
	url = git@github.com:Asher-/claude-skills-reading.git
[submodule "writing"]
	path = writing
	url = git@github.com:Asher-/claude-skills-writing.git
