[submodule "brainstorming"]
	path = brainstorming
	url = git@github.com:Asher-/claude-skills-brainstorming.git
[submodule "using-skills"]
	path = using-skills
	url = git@github.com:Asher-/claude-skills-using-skills.git
[submodule "reading"]
	path = reading
	url = git@github.com:Asher-/claude-skills-reading.git
[submodule "writing"]
	path = writing
	url = git@github.com:Asher-/claude-skills-writing.git
[submodule "memory"]
	path = memory
	url = git@github.com:Asher-/claude-skills-memory.git
